<!-- About Me Component -->
<div class="about">
  <h1>About Me</h1>
  <p>
    I'm a soon-to-be graduate from the University of Oregon, earning a Bachelor
    of Science in Computer Science with a minor in Psychology. I'm passionate
    about software development and eager to apply my skills to real-world
    challenges in the tech industry.
  </p>
  <h1>Skills & Interests</h1>
  <li><strong>Languages:</strong></li>
  <div>
    {
      ["Python", "C", "C++", "JavaScript", "TypeScript"].map((tech) => (
        <div class="languages">
          {" "}
          <strong>{tech}</strong>{" "}
        </div>
      ))
    }
  </div>
  <li><strong>Frameworks:</strong></li>
  <div>
    {
      ["Next.js", "Astro", "Tailwind CSS", "Flask"].map((tech) => (
        <div class="frameworks">
          <strong>{tech}</strong>
        </div>
      ))
    }
  </div>
  <li><strong>Backend:</strong></li>
  <div>
    {
      ["Firebase", "NextAuth.js", "Drizzle ORM"].map((tech) => (
        <div class="backend">
          <strong>{tech}</strong>
        </div>
      ))
    }
  </div>
  <li><strong>Frontend:</strong></li>
  <div>
    {
      ["React", "Node.js", "Material UI"].map((tech) => (
        <div class="frontend">
          <strong>{tech}</strong>
        </div>
      ))
    }
  </div>
  <li><strong>Databases:</strong></li>
  <div>
    {
      ["Firebase Firestore", "Neon Postgress", "MongoDB"].map((tech) => (
        <div class="database">
          <strong>{tech}</strong>
        </div>
      ))
    }
  </div>
  <li><strong>Other Areas of Experience:</strong></li>
  <div>
    {
      [
        "Software Engineering",
        "Network & System Security",
        "Machine Learning",
        "Systems Modeling",
      ].map((tech) => (
        <div class="other">
          <strong>{tech}</strong>
        </div>
      ))
    }
  </div>
</div>

<style>
  @import "../styles/about.css";
</style>
