---
const aboutMe = {
  introduction:
    "I'm a soon-to-be graduate from the University of Oregon, earning a Bachelor of Science in Computer Science with a minor in Psychology. I'm passionate about software development and eager to apply my skills to real-world challenges in the tech industry.",
  skills: {
    languages: ["Python", "C", "C++", "JavaScript", "TypeScript"],
    frameworks: ["Next.js", "Astro", "Tailwind CSS", "Flask"],
    backend: ["Firebase", "NextAuth.js", "Drizzle ORM"],
    frontend: ["React", "Node.js", "Material UI"],
    databases: ["Firebase Firestore", "Neon Postgress", "MongoDB"],
    other: [
      "Software Engineering",
      "Network & System Security",
      "Machine Learning",
      "Systems Modeling",
    ],
  },
};
---

<div class="max-w-4xl mx-auto p-4 font-sans leading-relaxed">
  <h1 class="text-3xl font-bold mb-6">About Me</h1>
  <div class="flex flex-grow bg-[#252525] p-4 mb-6 border-l-5 border-[#154733] rounded-[10px] transform transition-transform duration-300 hover:translate-y-[-10px]">
    <p>{aboutMe.introduction}</p>
  </div>
  <h1 class="text-3xl font-bold mb-6">Skills & Interests</h1>
  <div class="bg-[#252525] p-4 border-l-5 border-[#154733] rounded-[10px] transform transition-transform duration-300 hover:translate-y-[-10px]">
    <li class="list-none mb-2 font-semibold">Languages:</li>
    <div class="flex flex-wrap gap-2 mb-4">
      {
        aboutMe.skills.languages.map((tech) => (<div class="languages text-blue-400 bg-blue-900 rounded-lg px-3 py-1 text-sm font-medium">{tech}</div>))
      }
    </div>
    <li class="list-none mb-2 font-semibold">Frameworks:</li>
    <div class="flex flex-wrap gap-2 mb-4">
      {
        aboutMe.skills.frameworks.map((tech) => (<div class="frameworks text-red-400 bg-red-900 rounded-lg px-3 py-1 text-sm font-medium">{tech}</div>))
      }
    </div>
    <li class="list-none mb-2 font-semibold">Backend:</li>
    <div class="flex flex-wrap gap-2 mb-4">
      {
        aboutMe.skills.backend.map((tech) => (<div class="backend text-green-400 bg-green-800 rounded-lg px-3 py-1 text-sm font-medium">{tech}</div>))
      }
    </div>
    <li class="list-none mb-2 font-semibold">Frontend:</li>
    <div class="flex flex-wrap gap-2 mb-4">
      {
        aboutMe.skills.frontend.map((tech) => (<div class="frontend text-purple-400 bg-purple-900 rounded-lg px-3 py-1 text-sm font-medium">{tech}</div>))
      }
    </div>
    <li class="list-none mb-2 font-semibold">Databases:</li>
    <div class="flex flex-wrap gap-2 mb-4">
      {
        aboutMe.skills.databases.map((tech) => (<div class="database text-yellow-400 bg-yellow-800 rounded-lg px-3 py-1 text-sm font-medium">{tech}</div>))
      }
    </div>
    <li class="list-none mb-2 font-semibold">Other Areas of Experience:</li>
    <div class="flex flex-wrap gap-2">
      {
        aboutMe.skills.other.map((tech) => (<div class="other text-gray-400 bg-gray-800 rounded-lg px-3 py-1 text-sm font-medium">{tech}</div>))
      }
    </div>
  </div>
</div>
