---
import { Image } from "astro:assets";
import "../styles/global.css";

const education = [
  {
    degree: "Bachelor of Science in Computer Science",
    institution: "University of Oregon, Eugene, OR",
    duration: "September 2019 – June 2025",
    logo: "/images/great-seal-one-color-uo-green-800x800@1x.webp",
  },
];

const course_work = [
  {
    title: "Class 1",
    description: "Description of class 1",
  },
  {
    title: "Class 2",
    description: "Description of class 2",
  },
];
---

<div class="card-container">
  <h1 class="heading-1">Education</h1>

  {
    education.map((edu) => (
      <div class="flex-card">
        <Image
          class="image-medium"
          src={edu.logo}
          alt={`${edu.institution} Logo`}
          width={100}
          height={100}
          loading="eager"
        />

        <div>
          <h3 class="heading-2 py-2">{edu.degree}</h3>
          <div>
            <p class="subtext">{edu.institution}</p>
            <p class="subtext">{edu.duration}</p>
          </div>
        </div>

        {/* <div class="mt-auto py-2 text-[#aaa] cursor-pointer text-[0.95rem] hover:text-[#fff] transition-colors duration-300 self-end ml-auto">▼ Units</div> */}
      </div>
    ))
  }
</div>
