---
import "../styles/global.css";

import { Image } from "astro:assets";

const experiences = [
  {
    company: "All About Parking Inc.",
    location: "San Mateo, CA",
    role: "Events Valet - Part Time",
    duration: "October 2025 – Present ",
    image: "/images/aap-logo.png",
    responsibilities: [
      "Safely operated customer vehicles while conducting key audits and handling valet tickets.",
      "Maintained smooth station operations by managing traffic flow and keeping work areas organized.",
      "Provided customer service by greeting guests, answering questions, and assisting with concierge needs.",
    ],
  },
  {
    company: "Central Computers",
    location: "San Mateo, CA",
    role: "Sales Associate – Part Time",
    duration: "April 2020 – September 2021",
    image: "/images/central-computers-logo.jpg",
    responsibilities: [
      "Provided technical support and product recommendations for general and corporate customers.",
      "Effectively communicated complex technical concepts to customers of varying expertise.",
      "Assembled and tested computer systems to ensure quality performance.",
    ],
  },
  {
    company: "Trader Joe’s",
    location: "San Mateo, CA / Eugene, OR",
    role: "Crew Member – Part Time",
    duration: "January 2019 – August 2019 / September 2019 – December 2020",
    image: "/images/trader-joes-logo.png",
    responsibilities: [
      "Provided fast, friendly customer service while handling transactions accurately.",
      "Adapted to shifting priorities in a fast-paced retail environment.",
      "Assisted with merchandising, stocking, and setting up product displays.",
    ],
  },
  {
    company: "Blue Planet-Green Power & Water, Inc.",
    location: "Redwood City, CA",
    role: "System Maintenance & Repair Engineer - Seasonal",
    duration: "June 2018 – August 2024",
    image: "/images/bp-logo.PNG",
    responsibilities: [
      "Performed routine maintenance and troubleshooting on water filtration systems.",
      "Diagnosed issues and executed intermediate electrical and plumbing repairs to restore system functionality.",
      "Assisted in developing maintenance schedules to improve system reliability.",
    ],
  },
];
---

<div class="card-container">
  <h2 class="heading-1">Work Experience</h2>
  <div class="grid grid-cols-1 gap-6">
    {
      experiences.map((experience) => (
        <div class="flex-card">
          <Image
            class="image-medium"
            src={experience.image}
            alt={`${experience.company} logo`}
            width={100}
            height={100}
          />
          <div class="flex-1">
            <div class="flex flex-col sm:flex-row justify-between sm:items-center">
              <div>
                <h3 class="text-xl font-semibold">{experience.company}</h3>
                <p class="subtext">{experience.role}</p>
                <div class="block sm:hidden mt-2">
                  <p class="subtext">{experience.location}</p>
                  <p class="subtext">{experience.duration}</p>
                </div>
              </div>
              <div class="hidden sm:block text-right pt-2">
                <p class="subtext">{experience.location}</p>
                <p class="subtext">{experience.duration}</p>
              </div>
            </div>
            <ul class="list-disc list-inside space-y-2 mt-4">
              {experience.responsibilities.map((task) => (
                <li class="subtext">{task}</li>
              ))}
            </ul>
          </div>
        </div>
      ))
    }
  </div>
</div>
