---
import "../styles/global.css";

const skills = {
  languages: ["Python", "C", "C++", "JavaScript", "TypeScript"],
  frameworks: ["Next.js", "Astro", "Tailwind CSS", "Flask"],
  backend: ["Firebase", "NextAuth.js", "Drizzle ORM"],
  frontend: ["React", "Node.js", "Material UI"],
  databases: ["Firebase Firestore", "Neon Postgress", "MongoDB"],
  other: ["Machine Learning", "Software Engineering", "Systems Modeling"],
};
---

<div class="card-container">
  <h1 class="mb-5">Skills & Interests</h1>
  <div class="card">
    <ul class="font-semibold mb-2">Languages:</ul>
    <div class="list-container">
      {
        skills.languages.map((tech) => (
          <div class="badge text-blue-400 bg-blue-900">{tech}</div>
        ))
      }
    </div>
    <ul class="font-semibold mb-2">Frameworks:</ul>
    <div class="list-container">
      {
        skills.frameworks.map((tech) => (
          <div class="badge text-red-400 bg-red-900">{tech}</div>
        ))
      }
    </div>
    <ul class="font-semibold mb-2">Backend:</ul>
    <div class="list-container">
      {
        skills.backend.map((tech) => (
          <div class="badge text-green-400 bg-green-800">{tech}</div>
        ))
      }
    </div>
    <ul class="font-semibold mb-2">Frontend:</ul>
    <div class="list-container">
      {
        skills.frontend.map((tech) => (
          <div class="badge text-purple-400 bg-purple-900">{tech}</div>
        ))
      }
    </div>
    <ul class="font-semibold mb-2">Databases:</ul>
    <div class="list-container">
      {
        skills.databases.map((tech) => (
          <div class="badge text-yellow-400 bg-yellow-800">{tech}</div>
        ))
      }
    </div>
    <ul class="font-semibold mb-2">Other Areas of Experience:</ul>
    <div class="list-container">
      {
        skills.other.map((tech) => (
          <div class="badge text-gray-400 bg-gray-800">{tech}</div>
        ))
      }
    </div>
  </div>
</div>
